@{
    ViewData["Title"] = "Home Page";
}
    <div class="row mt-5 mb-2">
        @{
            foreach (var fish in Model)
            {
                if (fish.SeasonItem=="+")
                {

                    <div class="col-lg-4">
                        <img class="img-thumbnail" src="@fish.img" alt="@fish.name " width="300" height="150" />
                        <h2>@fish.name </h2>
                        <p>Цена: @fish.price грн/@fish.unit</p>
                        <p>Страна изготовитель: @fish.country</p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-action="Order" asp-controller="Fish" asp-route-email="@User.Identity.Name" asp-route-prname="@fish.name" method="post" />
                            <a class="btn btn-sm btn-primary" asp-action="Order" asp-route-email="@User.Identity.Name" asp-route-prname="@fish.name">Купить</a>
                        }
                    </div>
                }
            }
        }
    </div>
@if (User.Identity.IsAuthenticated)
{
    <p> @User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2750.9267768748036!2d30.706670714971683!3d46.41050737782262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6336a8b49077b%3A0xbdd8a95cffc7be8e!2z0L_RgC3Rgi4g0J3QtdCx0LXRgdC90L7QuSDQodC-0YLQvdC4LCAxMCwg0J7QtNC10YHRgdCwLCDQntC00LXRgdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2NTAwMA!5e0!3m2!1sru!2sua!4v1595327897325!5m2!1sru!2sua" width="550" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>