@model IEnumerable<FishMarket.ViewModels.FishViewModel>
@{
    ViewBag.Title = "Список товара";
}



    <a asp-action="Create">Добавить позицию</a>

    <table class="table">
        <tr><th>Название</th><th>Страна</th><th>Цена</th><th>ЕД. Изм.</th><th>Картинка</th><th>Кат. ID</th><th>Подкатегория</th></tr>
        @foreach (var fish in Model)
        {
            <tr>
                <td>@fish.name</td>
                <td>@fish.country</td>
                <td>@fish.price</td>
                <td>@fish.unit</td>
                <td>@fish.img</td>
                <td>@fish.categoryID</td>
                <td>@fish.SubCategory</td>

                <td>
                    <form asp-action="Delete" asp-route-id="@fish.id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@fish.id">Изменить</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
