@{

    Layout = "_Layout";
}
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secondary border-bottom box-shadow">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon bg-white"></span>
                    </button>
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-action="ChoosenFish" asp-route-id="1">Мороженная рыба</a>
                            <a class="nav-link text-white" asp-action="ChoosenFish" asp-route-id="2">Морепродукты</a>
                            <a class="nav-link text-white" asp-action="ChoosenFish" asp-route-id="3">Свежая рыба</a>
                            <a class="nav-link text-white" asp-action="ChoosenFish" asp-route-id="4">Копченная рыба</a>
                            <a class="nav-link text-white" asp-action="ChoosenFish" asp-route-id="5">Вяленая рыба</a>
                            <a class="nav-link text-white" asp-action="ChoosenFish" asp-route-id="6">Снеки</a>
                            <a class="nav-link text-white" asp-action="ChoosenFish" asp-route-id="7">Прессеры</a>
                            <a class="nav-link text-white" asp-action="ChoosenFish" asp-route-id="8">Икра</a>
                            <a class="nav-link text-white" asp-action="ChoosenFish" asp-route-id="9">Консервы</a>
                            <a class="nav-link text-white" asp-action="ChoosenFish" asp-route-id="10">Всё для суши</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


      
    <div class="row mt-5 mb-2">
        @{
            foreach (var fish in Model)
            {
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="@fish.img" alt="@fish.name" />
                    <h2>@fish.name </h2>
                    <p>Цена: @fish.price grn/@fish.unit</p>
                    <p>Страна изготовитель: @fish.country</p>
                    @if (User.Identity.IsAuthenticated)
                     {
                        <form asp-action="Order" asp-controller="Fish" asp-route-email="@User.Identity.Name" asp-route-prname="@fish.name" method="post" />
                        <a class="btn btn-sm btn-primary" asp-action="Order" asp-route-email="@User.Identity.Name" asp-route-prname="@fish.name">Купить</a>
                     }
                </div>
            }
        }
    </div>
