
@{
    Layout = "_Layout";
}

    <div class="row mt-5 mb-2">
        @{
            foreach (var fish in Model.allFish)
            {
                <div class="col-lg-4">
                    <img class="img-thumbnail" src="@fish.img" alt="@fish.name"/>
                    <h2>@fish.name </h2>
                    <p>Цена: @fish.price grn/@fish.unit</p>
                    <p>Страна изготовитель: @fish.country</p>
                    <p><a class="btn btn-warning" href="#">Подробнее</a></p>
                </div>
            }
        }
    </div>
